RewriteEngine On

# =====================================================
# HILANGKAN .php DARI URL
# =====================================================

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.+?)/?$ $1.php [L]


# =====================================================
# REDIRECT URL YANG MASIH MENGGUNAKAN .php
# KE URL TANPA .php
# =====================================================

RewriteCond %{THE_REQUEST} \s/+(.+?)\.php[\s?] [NC]
RewriteRule ^(.+?)\.php$ /$1 [R=301,L,NE]