RewriteEngine On

# =========================================================
# 1. Jangan rewrite file/folder yang benar-benar ada
# =========================================================

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]


# =========================================================
# 2. Extensionless URL -> PHP
# =========================================================

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+?)/?$ $1.php [L]


# =========================================================
# 3. 404
# =========================================================

RewriteRule ^ errors/404.php [L]


# =========================================================
# 4. Error Handler
# =========================================================

ErrorDocument 403 /medisafe_personal/errors/403.php
ErrorDocument 500 /medisafe_personal/errors/500.php